{% extends "base.html" %}

{% block titre %}Les articles de la categorie {{categorie}}{% endblock %}

{% block contenu %}

<div class="container">
<h1>Les articles de la categorie {{categorie}} sont :</h1>
    <ul>
        <!-- Boucle pour afficher les articles  -->
        {% for article in articles %}
            <li>
                <a href="{{ url_for('article', categorie=categorie, article=article) }}">{{ article }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
