<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titre %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
    body {
    background-image: url('/static/background.webp'); /* Remplacez par le chemin réel de l'image */
    background-size: cover;}
    .container {
    background-color: rgba(255, 255, 255, 0.8); /* Arrière-plan blanc avec une légère transparence */
    border-radius: 10px; /* Bords arrondis pour le conteneur */
    padding: 20px; /* Un peu de padding pour l'intérieur du conteneur */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet en relief */
}
    </style>
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container">
    <a class="navbar-brand" href="{{url_for('index')}}"><img width="30" height="30" src="/static/logo.png" /></a>
    <ul class="navbar-nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Catégories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for categorie in categories %}
                <li>
                    <a class="dropdown-item" href="{{ url_for('categorie', nom=categorie) }}">{{ categorie }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    </div>
</nav>

{% block contenu %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>